<% layout('layouts/boilerplate') %> 
<body>
    <div class="row mt-3 mb-3">
        <div class="col-8 offset-2">
            <h3 class="mb-3"><%= listing.title %></h3>

            <div class="card listing-card">
                <img src="<%=listing.image.url%>" class="card-img-top show-img mb-3" alt="listing-img">
                <div class="card-body">
                    <p class="card-text">
                        <p class="card-text"><b>Owned by: <i><%= listing.owner.username %></i></b></p>
                        <p class="card-text"><%= listing.description %></p>
                        <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
                        <p class="card-text"><%= listing.location %>, <%= listing.country %></p>
                    </p>
                </div>
            </div>

            <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
                <div class="btns">
                    <a href="/listings/<%=listing._id%>/edit" class="btn btn-primary" style="width: 100px;">Edit</a>
                    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
                        <button class="btn btn-danger offset-4" style="width: 100px;">Delete</button>
                    </form>
                </div> 
            <% } %>
     
        </div>
        
        <div class="col-8 offset-2 mb-3">
            <% if (currUser) { %>
                <hr>
                <h4>Leave a review</h4>
                <form method="post" action="/listings/<%=listing._id%>/reviews" novalidate class="needs-validation">
                    <div class="mt-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" name="review[rating]" id="rating" min="1" max="5" class="form-range">
                    </div>
                    <div class="mt-3">
                        <label for="comment" class="form-label">Comments</label>
                        <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                        <div class="invalid-feedback" id="comment">Please add some comments for review</div>
                    </div>
                    <button type="submit" class="btn btn-outline-dark mt-2">Submit</button>
                </form>
            <% } %>
            
        </div>


        <div class="col-8 offset-2">
            <hr>
            <% if (listing.reviews.length === 0) { %>
                <h5>No reviews</h5>
            <% } else { %>
                <div class="mb-4"><b>All Reviews</b></div>
            <% } %>

            <div>
                <% for (review of listing.reviews) { %>
                    <p><b><i>@<%= review.author ? review.author.username : "Unknown User" %></i></b></p>
                    <p><%= review.rating %>/5 stars</p>
                    <div class="d-flex">
                        <div class="p-2 flex-grow-1"><%= review.comment %></div>
                        <div class="p-2">time</div>
                    </div>
                    <div class="p-2">
                        <form method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                    <hr>
                <% } %>
            </div>
            
        </div>
        

    </div>
    
</body>
